<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Офіцерський склад</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">



</head>
<body ng-app = "demo">
<div class="container" ng-controller = "OfficersCtrl as officersCtrl">
    <div id="dropdownWrapper">
        <div class="dropdown">
            <button class="dropbtn" style="margin-left: 0">Запити</button>
            <div style="min-width: 700px;" class="dropdown-content">
                <a href="" data-toggle="modal" data-target="#selectByRangGeneral">Дані по офіцерському складу вказаного рангу загалом</a>
                <a href="" data-toggle="modal" data-target="#selectByRangAndMilitaryBase">Дані по офіцерському складу вказаного рангу за вказаною частиною</a>
                <a href="" data-toggle="modal" data-target="#selectByRangAndDivision">Дані по офіцерському складу вказаного рангу за вказаною дивізією</a>
                <a href="" data-toggle="modal" data-target="#selectByRangAndArmy">Дані по офіцерському складу вказаного рангу за вказаною армією</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading">Офіцерський склад</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Солдат</th>
                            <th>Ранг</th>
                            <th>Дата закінчення академії</th>
                            <th>Дата отримання генеральского звання</th>
                            <th>Військова частина</th>
                            <th width="30px"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                                     ng-click="contestInPalaceCtrl.startCreateOfficers()">Створити</button></th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr ng-repeat = "item in officers">
                            <td>{{item.soldier.name}}</td>
                            <td>{{item.rang}}</td>
                            <td>{{item.academyGraduation}}</td>
                            <td>{{item.becameGeneral}}</td>
                            <td>{{item.soldier.militaryBaseName}}</td>
                            <td>
                                <button id="update" ng-click="officersCtrl.startUpdate(item.id, item.soldier.name, item.soldier.age, item.soldier.id, item.rang, item.academyGraduation, item.becameGeneral, item.soldier.militaryBaseId)" class="btn-warning" data-toggle="modal" data-target="#editModal">✎</button>
                                <button id="delete" ng-click="officersCtrl.del(item.id)" class="btn-danger">✘</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="btnWrapper"><a href="main.html" class="button">Головна сторінка</a></div>
    <!-- Додавання до офіцерського складу -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Солдат: </label> <br>
                    <select id="selectSoldier"></select> <br>
                    <label>Ранг: </label> <br>
                    <select id="selectRang">
                        <option>Генерал</option>
                        <option>Полковник</option>
                        <option>Підполковник</option>
                        <option>Майор</option>
                        <option>Капітан</option>
                        <option>Лейтенант</option>
                    </select> <br>
                    <label>Дата проходження академії:
                        <input type="date" id="academyGraduation"/>
                    </label><br>
                    <label>Дата отримання генеральського звання:
                        <input type="date" id="becameGeneral"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="createOfficers" ng-click="officersCtrl.createOfficers()">Створити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування офіцерського складу -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <label>Солдат: </label> <br>
                    <select id="updSelectSoldier"></select> <br>
                    <label>Ранг: </label> <br>
                    <select id="updSelectRang">
                        <option>Генерал</option>
                        <option>Полковник</option>
                        <option>Підполковник</option>
                        <option>Майор</option>
                        <option>Капітан</option>
                        <option>Лейтенант</option>
                    </select> <br>
                    <label>Дата проходження академії:
                        <input type="date" id="updAcademyGraduation"/>
                    </label><br>
                    <label>Дата отримання генеральського звання:
                        <input type="date" id="updBecameGeneral"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="updateOfficersButton" ng-click="officersCtrl.update()">Змінити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByRangGeneral" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір рангу</h4>
                </div>
                <div class="modal-body">
                    <select id="selectRangQuery" name="Ранг" title="Ранг">
                        <option>Генерал</option>
                        <option>Полковник</option>
                        <option>Підполковник</option>
                        <option>Майор</option>
                        <option>Капітан</option>
                        <option>Лейтенант</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="selectDivisionQueryBtn" ng-click="officersCtrl.findByRang()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>

    </div>

    <div id="selectByRangAndMilitaryBase" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір рангу</h4>
                </div>
                <div class="modal-body">
                    <select id="rangBaseQueryRang" name="Ранг" title="Ранг">
                        <option>Генерал</option>
                        <option>Полковник</option>
                        <option>Підполковник</option>
                        <option>Майор</option>
                        <option>Капітан</option>
                        <option>Лейтенант</option>
                    </select><br>
                    <select id="rangBaseQueryBase" name="Військова частина" title="Військова частина">
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="rangBaseQueryBtn" ng-click="officersCtrl.findByRangAndMilitaryBaseId()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>

    </div>

    <div id="selectByRangAndDivision" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір рангу</h4>
                </div>
                <div class="modal-body">
                    <select id="rangDivisionQueryRang" name="Ранг" title="Ранг">
                        <option>Генерал</option>
                        <option>Полковник</option>
                        <option>Підполковник</option>
                        <option>Майор</option>
                        <option>Капітан</option>
                        <option>Лейтенант</option>
                    </select><br>
                    <select id="rangDivisionQueryDivision" name="Дивізія" title="Дивізія">
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="rangDivisionBtn" ng-click="officersCtrl.findAllByRangAndDivisionId()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>

    </div>

    <div id="selectByRangAndArmy" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір рангу</h4>
                </div>
                <div class="modal-body">
                    <select id="rangArmyQueryRang" name="Ранг" title="Ранг">
                        <option>Генерал</option>
                        <option>Полковник</option>
                        <option>Підполковник</option>
                        <option>Майор</option>
                        <option>Капітан</option>
                        <option>Лейтенант</option>
                    </select><br>
                    <select id="rangArmyQueryArmy" name="Армія" title="Армія">
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="rangArmyBtn" ng-click="officersCtrl.findAllByRangAndArmyId()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/officers.js"></script>

</body>
</html>